* {
	font-family: "Roboto", sans-serif;
	font-optical-sizing: auto;
	font-weight: 900;
	font-style: normal;
	font-variation-settings:
		"wdth" 100;
	text-decoration: none;
	color: black;
}

html,
body {
	padding: 0;
	margin: 0;
	height: 100%;
}

body {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
}

.container {
	display: flex;
	width: 320px;
	flex-direction: column;
}

.title {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	font-size: 10em;
	line-height: 80%;
	margin-top: 1.6rem;
}

.three {
	color: #ffc519;
}

.description {
	font-weight: 200;
	display: flex;
	flex-direction: row;
	font-size: 2.0em;
	text-align: justify;
	justify-content: space-between;
}

.info {
	display: flex;
	flex-direction: row;
	justify-content: center;
	margin-top: 1rem;
}

.email {
	display: flex;
	flex-direction: row;
	align-items: center;
}

.email>a {
	font-weight: 300;
}

a:hover {
	color: red;
}

#animatedImage {
	animation: mymove 20s infinite;
	animation-timing-function: linear;
}

@keyframes mymove {
	100% {
		transform: rotate(360deg);
	}
}